<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Creating Real-Time Charts with Flask</title>
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static', filename='css/epoch.min.css') }}"
		/>
	</head>
	<body>
		<title>センサーデータ</title>
		<h1 style="font-size: 35px ; margin-top: -0.5rem;">端末</h1>
		<div style="display: flex ; justify-content: center;align-items: center; margin-top: -3rem;">
			<div style="padding: 50px; border: 4px solid blue; border-radius:1.5rem ; width: 310px; height: 160px;">
				<h1 style="margin-top: -2rem;">開発ルーム</h1>
				<h1 id="text" >
					{% for match in text %}
					<tr style="margin-left: 10px">
						<div style="display: flex;">
							温度：
							<div id="temperature">{{ match.temperature }}</div>
							°C
						</div>
						<div style="display: flex;">
							湿度：
							<div id="huminity">{{ match.huminity }}</div>
							%
						</div>
						<div style="display: flex;">
							<div class="pressure">気圧：</div>
							<div id="pressure">{{ match.pressure }}</div>
							hPa
						</div>
					</tr>
					{% endfor %}
				</h1>
			</div>
			<div style="padding: 50px; border: 4px solid rgb(255, 102, 0); border-radius:1.5rem ; width: 310px; height: 160px; margin-left: 1rem;">
				<h1 style="margin-top: -2rem;">小会議室</h1>
				<h1 id="text">
					{% for match1 in text1 %}
					<tr style="margin-left: 10px">
						<div style="display: flex;">
							温度：
							<div id="temperature1">{{ match1.temperature }}</div>
							°C
						</div>
						<div style="display: flex;">
							湿度：
							<div id="huminity1">{{ match1.huminity }}</div>
							%
						</div>
						<div style="display: flex;">
							<div class="pressure">気圧：</div>
							<div id="pressure1">{{ match1.pressure }}</div>
							hPa
						</div>
					</tr>
					{% endfor %}
				</h1>
			</div>
		</div>
		<!-- <h1 style="font-size: 35px; margin-top: -0.5rem;">フィルタリング機能</h1> -->
		<div style="display: flex; justify-content: center; align-items: center;">
			<img src="images/img.png" style="width: 485px; margin-top: -2rem;">
			<img src="images/img1.png" style="width: 485px; margin-top: -2rem;">
			<img src="images/img2.png" style="width: 485px; margin-top: -2rem;">
		</div>
		<!-- <h1 style="font-size: 30px">最新チャート</h1>
		<div class="display">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<canvas id="canvas"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="container">
				<div class="row2">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<canvas id="canvas1"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row2">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<canvas id="canvas2"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!--suppress JSUnresolvedLibraryURL -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		<!--suppress JSUnresolvedLibraryURL -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<!--suppress JSUnresolvedLibraryURL -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
		<script>
			setInterval(function () {
				fetch("/data")
					.then(function (response) {
						console.log("aaaaa",response);
						return response.json();
					})
					.then(data =>
						data.forEach(match => {
							console.log("match",match);
							document.getElementById("temperature").innerHTML = match.temperature;
							document.getElementById("huminity").innerHTML = match.huminity;
							document.getElementById("pressure").innerHTML = match.pressure;
						}),
					);
			}, 1000);
			setInterval(function () {
				fetch("/data1")
					.then(function (response) {
						console.log("aaaaa",response);
						return response.json();
					})
					.then(data =>
						data.forEach(match => {
							console.log("match",match);
							document.getElementById("temperature1").innerHTML =
								match.temperature;
							document.getElementById("huminity1").innerHTML = match.huminity;
							document.getElementById("pressure1").innerHTML = match.pressure;
						}),
					);
			}, 1000);
			$(document).ready(function () {
				const config = {
					type: "line",
					data: {
						labels: [],
						datasets: [
							{
								label: "開発ルーム",
								backgroundColor: "blue",
								borderColor: "blue",
								data: [],
								fill: false,
							},
							{
								label: "小会議室",
								backgroundColor: "rgb(255, 102, 0)",
								borderColor: "rgb(255, 102, 0)",
								data: [],
								fill: false,
							},
						],
					},
					options: {
						responsive: true,
						tooltips: {
							mode: "index",
							intersect: false,
						},
						hover: {
							mode: "nearest",
							intersect: true,
						},
						scales: {
							xAxes: [
								{
									display: true,
									scaleLabel: {
										display: true,
										labelString: "温度",
									},
								},
							],
							// yAxes: [
							// 	{
							// 		display: true,
							// 		scaleLabel: {
							// 			display: true,
							// 			labelString: "温度",
							// 		},
							// 	},
							// ],
						},
					},
				};

				const context = document.getElementById("canvas").getContext("2d");
				const lineChart = new Chart(context, config);
				const source = new EventSource("/chart-data");
				source.onmessage = function (event) {
					const data = JSON.parse(event.data);
					if (config.data.labels.length === 24) {
						config.data.labels.shift();
						config.data.datasets[0].data.shift();
						config.data.datasets[1].data.shift();
					}
					config.data.labels.push(data.time);
					config.data.datasets[0].data.push(data.value);
					config.data.datasets[1].data.push(data.value2);
					lineChart.update();
				};
			});
			$(document).ready(function () {
				const config = {
					type: "line",
					data: {
						labels: [],
						datasets: [
							{
								label: "開発ルーム",
								backgroundColor: "blue",
								borderColor: "blue",
								data: [],
								fill: false,
							},
							{
								label: "小会議室",
								backgroundColor: "rgb(255, 102, 0)",
								borderColor: "rgb(255, 102, 0)",
								data: [],
								fill: false,
							},
						],
					},
					options: {
						responsive: true,
						tooltips: {
							mode: "index",
							intersect: false,
						},
						hover: {
							mode: "nearest",
							intersect: true,
						},
						scales: {
							xAxes: [
								{
									display: true,
									scaleLabel: {
										display: true,
										labelString: "湿度",
									},
								},
							],
						},
					},
				};

				const context = document.getElementById("canvas1").getContext("2d");

				const lineChart = new Chart(context, config);

				const source = new EventSource("/chart-data1");

				source.onmessage = function (event) {
					const data = JSON.parse(event.data);
					if (config.data.labels.length === 24) {
						config.data.labels.shift();
						config.data.datasets[0].data.shift();
						config.data.datasets[1].data.shift();
					}
					config.data.labels.push(data.time);
					config.data.datasets[0].data.push(data.value);
					config.data.datasets[1].data.push(data.value1);
					lineChart.update();
				};
			});
			$(document).ready(function () {
				const config = {
					type: "line",
					data: {
						labels: [],
						datasets: [
							{
								label: "開発ルーム",
								backgroundColor: "blue",
								borderColor: "blue",
								data: [],
								fill: false,
							},
							{
								label: "小会議室",
								backgroundColor: "rgb(255, 102, 0)",
								borderColor: "rgb(255, 102, 0)",
								data: [],
								fill: false,
							},
						],
					},
					options: {
						responsive: true,
						tooltips: {
							mode: "index",
							intersect: false,
						},
						hover: {
							mode: "nearest",
							intersect: true,
						},
						scales: {
							xAxes: [
								{
									display: true,
									scaleLabel: {
										display: true,
										labelString: "気圧",
									},
								},
							],
						},
					},
				};

				const context = document.getElementById("canvas2").getContext("2d");

				const lineChart = new Chart(context, config);

				const source = new EventSource("/chart-data2");

				source.onmessage = function (event) {
					const data = JSON.parse(event.data);
					if (config.data.labels.length === 10) {
						config.data.labels.shift();
						config.data.datasets[0].data.shift();
						config.data.datasets[1].data.shift();
					}
					config.data.labels.push(data.time);
					config.data.datasets[0].data.push(data.value);
					config.data.datasets[1].data.push(data.value1);
					lineChart.update();
				};
			});
		</script>
	</body>
</html>
